{% extends 'polls/search_base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block stylesheets %}
<link href="{% static "polls/css/search.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "polls/css/additional_search.css" %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block footer %}
    <!-- Container for the filter and sort by options, as a slide-up menu -->
    <div class="container slide-up-hidden" id="slide-up-div">
        <div class="row">
            <div class="col-6 filter-sort-container">
                <!-- price filter options -->
                <div class="container" id="price-div">

                </div>
            </div>
            <div class="col-6 filter-sort-container">
                <!-- category filter options -->
                <div class="container" id="categories-div">

                </div>
            </div>
            <div class="col-6 filter-sort-container">
                <!-- sorting options -->
                <div class="container" id="sort-by">

                </div>
            </div>
            <div class="col-6 filter-sort-container" id="refine-btn-container">
                <button type="button" class="btn btn-primary" id="refine-btn">
                    Refine
                </button>
                <button type="button" class="btn btn-danger" id="filter-cancel-btn">
                    Cancel
                </button>
            </div>
        </div>
    </div>
    <div class="container footer">
        <a class="btn btn-primary" href="#" role="button" id="toggle-filter-sort-btn">
            Filter and Sort
        </a>
        <a class="btn btn-primary" href="/generate_poll" role="button" id="return-to-poll-btn">
            Return to Poll
        </a>
    </div>
{% endblock %}
{% block scripts %}
<script src="{% static "polls/scripts/javascript/yelp_search.js" %}"></script>
{% endblock %}