{% extends 'polls/base.html' %} 
{% load widget_tweaks %} 
{% load static %} 
{% block stylesheets %}
<link href="{% static "polls/css/search.css" %}" rel="stylesheet" type="text/css"> 
{% endblock %} 
{% block modal %}
<div class="modal fade" id="category-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="category-modal-label">Categories</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6" id="category-col-one">

                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6" id="category-col-two">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="select-category-btn">Select</button>
            </div>
        </div>
    </div>
</div>
{% endblock %} 
{% block content %}
<div class="search-container">
    <!-- TODO: Fix the search boxes and search button to the top -->
    <!-- TODO: Fix transparency issues when fixing the search boxes to the top-->
    <div class="row justify-content-center" id="search-row">
        <div class="col-6 col-sm-4">
            <div class="input-group">
                <input id="search-term" type="text" class="form-control" placeholder="Search for..." aria-label="Search for...">
            </div>
        </div>
        <div class="col-6 col-sm-4">
            <div class="input-group">
                <input id="search-city" type="text" class="form-control" placeholder="Near..." aria-label="Near...">
                <span class="input-group-btn">
                    <button id="search-btn" class="btn btn-primary" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>
    <div class="row" id="filter-button-row">
        <div class="col-6" id="filter-button-col">
            <button type="button" class="btn btn-outline-info">
                Filters
            </button>
        </div>
    </div>
    <div class="container justify-content-center">
        <div class="row" id="filter-dropdown-row">
            <div class="col-4" id="filter-categories-col">

            </div>
            <div class="col-4" id="filter-price-col">

            </div>
            <div class="col-4" id="sort-by-col">

            </div>
        </div>
    </div>

    <div class="row main-content">
        <div class="col-lg-2 col-md-2 col-sm-12" id="search-filter-container">
            <!-- price filter options -->
            <div class="container" id="price-div">

            </div>
            <!-- category filter options -->
            <div class="container" id="categories-div">

            </div>
            <!-- sorting options -->
            <div class="container" id="sort-by">

            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 search-results">
            <ul id="business_listings" class="list-unstyled">

            </ul>
        </div>

        <div class="col-lg-2 col-md-2 col-sm-12" id="search-google-map">
        </div>
    </div>
</div>
{% endblock %} 
{% block scripts %}
<script src="{% static "polls/scripts/javascript/yelp_search.js" %}"></script> 
{% endblock %} 
{% block choice_display %} 
{% endblock %}