{% extends 'polls/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block stylesheets %}
    <link href="{% static "polls/css/search.css" %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
    <div class="container" style="padding-top: 20px">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-4 col-sm-8">
                <div class="input-group">
                    <input id="search-term" type="text" class="form-control" placeholder="Search for..." aria-label="Search for...">
                </div> 
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8">
                <div class="input-group">
                    <input id="search-city" type="text" class="form-control" placeholder="Near..." aria-label="Near...">
                    <span class="input-group-btn">
                        <button id="search-btn" class="btn btn-primary" type="button">Go!</button>
                    </span>
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 search-results">
                <ul id="business_listings" class="list-unstyled">

                </ul>
            </div>
        </div>
    </div>
    <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
{% endblock %}
{% block scripts %}
    <script src="{% static "polls/javascript/yelp_search.js" %}"></script>
{% endblock %}

{% block choice_display %}
{% endblock %}
