{% extends 'polls/base.html' %} 
{% block content %}
<div class="row">
    <div class="col">
        <div class="jumbotron">
            <h1 class="display-3">Where Should We Eat?</h1>
            <p class="lead">A <span style="text-decoration: line-through;">tyranny of the majority</span> democratic take on deciding where to eat</p>
            <hr class="my-4">
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Create a Poll!</a>
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="card" style="width: 20rem;">
            <div class="card-body">
              <h4 class="card-title">Do I need to sign up?</h4>
              <p class="card-text">Nope! Create a poll and invite people with a link</p>
            </div>
          </div>
    </div>
    <div class="col-sm-4">
        <div class="card" style="width: 20rem;">
            <div class="card-body">
              <h4 class="card-title">Why should I use this app?</h4>
              <p class="card-text">Yelp integration!</p>
            </div>
          </div>
    </div>
    <div class="col-sm-4">
        <div class="card" style="width: 20rem;">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Dummy text Lorem Ipsum</p>
            </div>
          </div>
    </div>
</div>
{% endblock %}