{% extends 'polls/base.html' %} 
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static "polls/css/index.css" %}">
{% endblock %}
{% block content %}
<div class="row">
    <div class="col">
        <div class="jumbotron">
            <h1 class="display-4">Eatally</h1>
            <p class="lead">A <span style="text-decoration: line-through;">tyranny of the majority</span> democratic
                take on deciding where to dine</p>
            <hr class="my-4">
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/create_poll" role="button" id="index-create-poll-btn">Create a Poll!</a>
                <a class="btn btn-info btn-lg" href="/join_poll" id="join-poll-btn" role="button">Join a Poll!</a>
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card">
            <div class="card-body">
              <h4 class="card-title">No Sign-in Required</h4>
              <p class="card-text">Jump straight in and click the "Create a Poll" button. Use the generated poll ID to invite your friends!</p>
            </div>
          </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card">
            <div class="card-body">
              <h4 class="card-title">Joining a Poll?</h4>
              <p class="card-text">Ask the poll creator for the poll ID, which can be accessed on the poll display page.</p>
            </div>
          </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card">
            <div class="card-body">
              <h4 class="card-title">Yelp Integration</h4>
              <p class="card-text">Take advantage of Yelp's vast database of venues when making your poll</p>
            </div>
          </div>
    </div>
</div>
{% endblock %}