.container {
    margin-top: 50px;
}

ul.messages {
    margin-top: 15px;
}

#join-poll-btn {
    font-size: 4.5vw;
}

#index-create-poll-btn {
    font-size: 4.5vw;
}

@media screen and (min-width: 354px) {
    #join-poll-btn {
        font-size: medium;
    }

    #index-create-poll-btn {
        font-size: medium;
    }
}