#content-container {
    margin-top: 75px;
}

div.col-4.btn-col {
    padding-left: 1px;
    text-align: center;
}

.btn-sm {
    width: 102px;
}

.search-results {
    margin-left: 8%;
}

#search-row {
    margin: 0;
}

@media screen and (min-width: 403px) {
    .search-results {
        margin-left: 18%;
    }
}

@media screen and (min-width: 992px) {
    .search-results {
        margin-left: 20%;
    }
}

.yelp-logo {
    max-height: 60px;
    margin-top: -7px;
}

.rating-and-logo {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .rating-and-logo {
        margin-top: 25px;
    }

    ul#reviews_list {
        margin-top: 0;
    }
}

.search-container {
    padding-top: 40px;
}

.review-count {
    text-align: left;
    color: grey;
    margin-bottom: 3px;
    margin-top: -10px;
    font-size: small;
    display: inline-block;
}

.venue-category {
    color: #909090;
}

.reviewer-img {
    height: 32px;
    width: 32px;
}

.reviewer-name {
    font-size: medium;
}

.review-body {
    font-size: small;
}

.review-link {
    color: lightskyblue;
    display: inline-block;
}

.review-link:hover {
    color: mediumpurple;
}

.review-li {
    margin: 2%;
}

.business-listing {
    margin: 2%;
}

img.mr-3 {
    padding: 0;
    border-radius: 15%;
}

#search-filter-container {
    /* margin-left: -12%;
    margin-right: 12%; */
    margin-top: 1.5%;
    font-size: 0.9em;
    position: fixed;
    left: 2%;
}

div#price-div {
    margin-left: 15%;
    margin-top: 15%;
}

div#categories-div {
    margin-top: 15%;
}

div#sort-by {
    margin-top: 15%;
    margin-left: 15%;
}

label.form-check-label {
    display: inline-block;
    white-space: nowrap;
    margin-left: -9%;
}

@media screen and (min-width: 768px) {
    label.form-check-label {
        margin-left: 0;
    }
}

.row.main-content {
    width: 110%;
    margin-left: -18%;
    overflow: auto;
    height: 66vh;
}

#category-col-one {
    padding: 10%;
}

#category-col-two {
    padding: 10%;
}

ul#reviews_list {
    margin-bottom: 5%;
    margin-left: -110px;
}

@media screen and (max-width: 768px) {
    .business-image {
        width: 100px;
        height: 100px;
    }
    .reviewer-img {
        width: 32px;
        height: 32px;
    }


    .row.main-content {
        margin-left: -15%;
    }

    ul#reviews_list {
        margin-top: 9%;
    }
}

@media screen and (min-width: 768px) {
    .business-image {
        width: 125px;
        height: 125px;
    }

    .reviewer-img {
        width: 40px;
        height: 40px;
    }

    .row.main-content {
        margin-left: 0;
    }

    #slide-up-div {
        width: 720px;
        height: 202px;
    }

    .filter-sort-container {
        max-width: 25%;
    }
}

@media screen and (max-width: 768px) {

    #slide-up-div {
        width: 362px;
        height: 354px;
    }

    .filter-sort-container {
        max-width: 50%;
    }
}

@media screen and (min-width: 356px) {
    img.yelp-stars {
        width: 155px;
    }
}

@media screen and (max-width: 356px) {
    img.yelp-stars {
        width: 130px;
    }
}

a.btn.btn-primary {
    flex: auto;
    margin: 5%;
}

a#toggle-filter-sort-btn {
    max-width: 125px;
}

a#create-poll-btn {
    max-width: 110px;
}

label.form-check-label {
    white-space: normal;
}

button.add-btn {
    margin-right: 25px;
    margin-left: -15px;
    display: inline-block;
}

.vote-result-span {
    display: block;
    width: 250px;
    margin-left: -100px;
    margin-top: -5px;
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Patua One', cursive;
}

li.media.business-listing {
    margin-top: 15px;
}

h5.listing-name-header {
    overflow-x: auto;
    white-space: nowrap;
}

div#poll-id-display-row {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

h5#poll-id-header {
    font-weight: bold;
    color: orangered;
}

.id-display-shown {
    display: block;
}

.id-display-hidden {
    display: none;
}

a#invite-btn {
    margin: 5%;
}

a#reset-btn {
    width: auto;
}

@media screen and (max-width: 360px) {
    a.btn.btn-primary {
        font-size: 12px;
    }
}